language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - hhvm

before_script:
    - "echo '{\"config\":{\"github-oauth\": {\"github.com\":\"fa354b2f030836334eac842f8fd69a03e353d247\"}}}' > ~/.composer/config.json"
    - "composer require --dev phpspec/phpspec:~2.0 --no-update"
    - "composer install --dev"

script: vendor/bin/phpspec run -fpretty -v
